.sidebarMenu ul {
  padding: 0;
  margin: 0;
}

.sidebarMenu ul li {
  list-style: none;
  display: flex;
  margin-bottom: 2px;
  padding: 2px;
  align-items: center;
}

.menu_icon {
  flex: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.menu_label {
  flex: 1;
}
.task_count {
  padding-left: 5px;
  padding-right: 5px;
}

.completedBadge {
  margin-top: 15px;
  margin-bottom: 15px;
}
.completedBadge span {
  background: green;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.addTaskRow {
  background: green;
  border-radius: 5px;
}
.addTaskIconCol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.addTaskInput {
  display: flex;
  justify-content: center;
}

.addTaskInput input {
  background: none;
  border: none;
  color: #fff;
}
