.editWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.titleInputWrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.editMain {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}

.editFooter {
  flex: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.footIcon {
  flex: 0;
  padding: 5px;
}
.info {
  flex: 1;

  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.editMenu span {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.stepInput input::placeholder {
  color: blue !important;
}

.addNote {
  min-height: 100px !important;
}

.addNote::placeholder {
  color: #000 !important;
}

.strikeInput {
  text-decoration: line-through;
}

.edit_active {
  color: blue;
}
