.todoRow {
  background: #fff;
  border-radius: 5px;
  color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
}

.checkCol {
  padding: 10px;
}

.colImp {
  padding: 10px;
}

.starIcon,
.checkIcon {
  font-size: 18px;
}

.active {
  opacity: 0.8;
}
