.sider_left {
  background: #eee;
  padding-top: 15px;
}

.midcontent {
  background: #558b2f;
  color: #fff;
  transition: 0.3s;
}

.sider_right {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0px;
  z-index: 1;
  transition: 0.3s;
  padding-top: 15px;
}
.resize250 {
  margin-right: 250px;
}

.sider_show {
  width: 250px;
}

.todoContainer {
  overflow-y: auto;
  padding: 5px;
  flex: 1;
  margin-bottom: 10px;
}
